<div class="container-fluid">
  <row>
    <bcol id="head" xs="12">
      <h1><img src="./app/images/ng-kyoto-header-logo.png" alt="ng-kyoto logo">ng-kyoto</h1>
      <nav>
        <a href="#about">About</a>
        <a href="#events" class="under-construction">Events</a>
        <a href="#organizers">Organizers</a>
      </nav>
    </bcol>

    <bcol id="hero" xs="12">
      <h2>古都の空気に触れながら、<br>Angularの未来を一緒に学ばはりませんか</h2>
      <apply-button href="http://ng-kyoto.connpass.com/event/17663/">ng-kyoto Angular Meetup #2に参加する</apply-button>
    </bcol>
  </row>
</div>
